**/bin
**/obj
**/Migrations
**/Properties
**/appsettings.Development.json
**/appsettings.json
**/launchSettings.json
**/staticwebassets/
**/runtimes/
**/debug/
**/generated/
**/ref/
**/refint/
**/cs/
**/de/
**/es/
**/fr/
**/it/
**/ja/
**/ko/
**/pl/
**/pt-BR/
**/ru/
**/tr/
**/zh-Hans/
**/zh-Hant/